.main{
  padding: 10px 0 0 0;
  margin: 0 0 16px 0;
  width: 96.6%;
  margin: 0 auto;
}

.main__cards{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.main__cards_hidden{
  display: none;
}

.main__container{
  margin: 0 auto;
  position: relative;
}

.main__basket{
  width: 65.9%;
}

.main__readyToBuy{
  margin-bottom: 58px;
}

.main__dontExistGoods{
  margin-bottom: 40px;
}

/*Аккордеон + заголовок*/

.main__title{
  margin: 0 0 27px 0;

  font-size: 28px;
  line-height: 36px;
  font-weight: bold;
  font-family: 'Segoe UI', Arial, sans-serif;
}

.main__accordeonSection{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  position: relative;
  margin-bottom: 22px;
}

.main__accordeonSection::after{
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, .1);
  height: 0;
  top: 40px;
  left: 0;
}

/*Чекбоксы */

.main__checkboxContainer{
  padding-top: 40px;
} 

.main__checkboxContainer_mainCheckbox{
  padding: 0;
}

.main__checkbox {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.main__checkboxLabel{
  font-size: 13px;
  line-height: 16px;
  font-weight: normal;
  font-family: 'Segoe UI', Arial, sans-serif;

  position: relative;
  cursor: pointer;

  padding-left: 30px;
}
  
.main__checkboxLabel_mainCheckbox{
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  font-family: 'Segoe UI', Arial, sans-serif;
}

.main__checkbox:checked + .main__checkboxLabel::before {
  background-color: #CB11AB;
  border-color: #CB11AB;
  background-image: url("../img/checkbox.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.main__checkbox:hover:checked + .main__checkboxLabel::before {
  background-color: hsla(310, 85%, 43%, .45);
  border-color: hsla(310, 85%, 43%, .45);;
}
  
.main__checkboxLabel::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, .2);
  background-color: #F6F6FA;
  border-radius: 5px;
}
  
.main__checkboxLabel:hover::before {
  border-color: rgba(0, 0, 0);
}

.main__payStartWrapper_is_hidden{
  display: none;
}

@media screen and (max-width: 1024px) {
  .main{
    width: 95.4%;
  }

  .main__aside{
    width: 31.1%;
    right: 4px;
  }

  .main__priceGoods{
    width: 82.8%;
  }
}

@media screen and (max-width: 890px) {
  .main{
    width: 100%;
  }

  .main__basket{
    margin: 0 auto;
    width: 89.6%;
  }
  
  .main__readyToBuy{
    margin-bottom: 48px;
  }
  
  .main__dontExictGoods{
    margin-bottom: 32px;
  }

  .main__container{
    flex-direction: column;
  }

  .main__point_is_hidden{
    display: none;
  }

  .main__aside{
    position: initial;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .main{
    padding: 0;
    margin: 0 auto;
  }

  .main__readyToBuy{
    margin-bottom: 38px;
  }

  .main__dontExistGoods{
    margin-bottom: 31px;
  }

  /*Аккордеон + заголовок*/

  .main__title{
    font-size: 20px;
    line-height: 28px;
    font-weight: bold;
    font-family: 'Segoe UI', Arial, sans-serif;
    letter-spacing: 1%;

    margin: 0 0 13px 0;
  }

  .main__accordeonSection{
    margin-bottom: 30px;
  }

  .main__accordeonSection_dontExistGoods{
    margin-bottom: 18px;
  }

  .main__accordeonSection::after{
    top: 43px;
  }

  /*Чекбоксы */

  .main__checkboxContainer{
    padding-top: 4px;
  }

  .main__checkboxLabel{
    padding-left: 0;
  }

  .main__checkboxLabel_mainCheckbox{
    padding-left: 30px;
  }
}
