.root{
  margin: 0 auto;
  max-width: 1400px;
  min-width: 320px;
  background-color: #F6F6FA;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  color: black;
}