.container{
  width: 96.6%;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .container{
    width: 95.4%;
  }
}

@media screen and (max-width: 890px) {
  .container_is_main{
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .container_is_main{
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .container{
    width: 92.6%;
  }

  .container_is_main{
    width: 100%;
  }
}